<?xml version="1.0"?>
<launch>

    <remap from="/grid_map" to="/map"/>
    <remap from="/cmd_vel" to="/spot/cmd_vel"/>

      <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
	<!--<param name="base_global_planner" value="carrot_planner/CarrotPlanner" />-->
	<param name="base_global_planner" value="global_planner/GlobalPlanner" />
  <param name="planner_frequency" value="1.0"/>
  <param name="planner_patience" value="5.0"/>
  
  		<param name="base_local_planner" value="eband_local_planner/EBandPlannerROS" />
		<param name="controller_frequency" value="5.0" />
		<param name="controller_patience" value="15.0" />

    <rosparam file="$(find zoe)/param/eband/costmap_common_params.yaml" command="load" ns="global_costmap"/>
    <rosparam file="$(find zoe)/param/eband/costmap_common_params.yaml" command="load" ns="local_costmap"/>
    <rosparam file="$(find zoe)/param/eband/local_costmap_params.yaml" command="load"/>
    <rosparam file="$(find zoe)/param/eband/global_costmap_params.yaml" command="load"/>
    <rosparam file="$(find zoe)/param/eband/eband_local_planner_params.yaml" command="load"/>
  </node>

</launch>
